

.jumbotron {
    max-width: 100%;
    height: fit-content;
    padding: 0;
    margin: 0;
}

.jumbotron img {
    max-width: 100%;
    height: auto;
}

.feedCard {
    /* width: 30vh; */
    height: 30vh;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: #e4fff0 !important
}

main.container-fluid {
    max-width: 100%;
}

.headerTextContainer{
    background-color: rgb(1, 8, 1);
    color: white;
    width: 100%;
}

.cpad{
    padding: 5px !important;
    text-align: center;
}

.card-title{
    font-weight: bold !important;
}


/* .card-img-top{
    border-bottom: 1px solid rgb(1, 8, 1);
} */