<div class="container-fluid">


    <div class="row d-flex justify-content-center">
        <div class="col-11 d-flex justify-content-center">

            <div class="card mb-3 mt-3">
                <div class="card-body">
                    <h1 class="card-title">Declaración de Derechos de Autor y Atribuciones</h1>
                    <h2>Declaración de Derechos de Autor</h2>

                    <p>Copyright &copy; 2024 Emilio Herrera Gener</p>

                    <p>Todos los derechos reservados.</p>
                    <hr>

                    <h2>Atribuciones de Componentes de Terceros</h2>

                    <p>Este software incluye componentes que generados a partir de software licenciado bajo la Licencia
                        MIT. A continuación se enumeran los componentes MIT utilizados en este software y sus
                        respectivas atribuciones. <br>
                        Las siguientes licencias hacen referencia única y exclusivamente a los componentes del software
                        de Jobhub que utilizan su software y se incluyen en este documento con la intención de
                        atribuirlos adecuadamente:
                    </p>

                    <ol>
                        <li>
                            <p><strong>Button by cssbuttons-io</strong>:</p>
                            <ul>

                                <li>Atribución: <a href="https://uiverse.io/cssbuttons-io/funny-dog-69"
                                        target="_blank">enlace</a></li>
                                <li>Licencia: MIT <br>
                                    Copyright - 2024 cssbuttons-io (cssbuttons.io)
                                    <br><br>
                                    Permission is hereby granted, free of charge, to any person obtaining a copy of this
                                    software and associated documentation files (the “Software”), to deal in the
                                    Software without restriction, including without limitation the rights to use, copy,
                                    modify, merge, publish, distribute, sublicense, and/or sell copies of the Software,
                                    and to permit persons to whom the Software is furnished to do so, subject to the
                                    following conditions:
                                    <br><br>
                                    The above copyright notice and this permission notice shall be included in all
                                    copies or substantial portions of the Software.
                                    <br><br>
                                    THE SOFTWARE IS PROVIDED “AS IS”, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED,
                                    INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
                                    PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
                                    HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF
                                    CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE
                                    OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
                                    <br><br>
                                </li>

                            </ul>
                        </li>
                        <li>
                            <p><strong>Button by vinodjangid07</strong>:</p>
                            <ul>

                                <li>Atribución: <a href="https://uiverse.io/vinodjangid07/lazy-dog-51"
                                        target="_blank">enlace</a></li>
                                <li>Licencia: MIT<br>
                                    Copyright - 2024 vinodjangid07 (Vinod )
                                    <br>
                                    Copyright - 2024 vinodjangid07 (Vinod )
                                    <br><br>
                                    Permission is hereby granted, free of charge, to any person obtaining a copy of this
                                    software and associated documentation files (the “Software”), to deal in the
                                    Software without restriction, including without limitation the rights to use, copy,
                                    modify, merge, publish, distribute, sublicense, and/or sell copies of the Software,
                                    and to permit persons to whom the Software is furnished to do so, subject to the
                                    following conditions:
                                    <br><br>
                                    The above copyright notice and this permission notice shall be included in all
                                    copies or substantial portions of the Software.
                                    <br><br>
                                    THE SOFTWARE IS PROVIDED “AS IS”, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED,
                                    INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
                                    PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
                                    HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF
                                    CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE
                                    OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
                                    <br><br>


                                </li>
                            </ul>
                        </li>
                        <li>
                            <p><strong>Button by doniaskima
                                </strong>:</p>
                            <ul>

                                <li>Atribución: <a href="https://uiverse.io/doniaskima/old-catfish-59"
                                        target="_blank">enlace</a></li>
                                <li>Licencia: MIT</li>
                                <br>
                                Copyright - 2024 doniaskima (doniaskima)
                                <br><br>
                                Permission is hereby granted, free of charge, to any person obtaining a copy of this
                                software and associated documentation files (the “Software”), to deal in the Software
                                without restriction, including without limitation the rights to use, copy, modify,
                                merge, publish, distribute, sublicense, and/or sell copies of the Software, and to
                                permit persons to whom the Software is furnished to do so, subject to the following
                                conditions:
                                <br><br>
                                The above copyright notice and this permission notice shall be included in all copies or
                                substantial portions of the Software.
                                <br><br>
                                THE SOFTWARE IS PROVIDED “AS IS”, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED,
                                INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR
                                PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE
                                LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT
                                OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
                                OTHER DEALINGS IN THE SOFTWARE.
                                <br><br>
                            </ul>
                        </li>
                        <li>
                            <p><strong>Button by vinodjangid07</strong>:</p>
                            <ul>

                                <li>Atribución: <a href="https://uiverse.io/vinodjangid07/young-snake-87"
                                        target="_blank">enlace</a></li>
                                <li>Licencia: MIT</li><br>
                                Copyright - 2024 vinodjangid07 (Vinod )
                                <br><br>
                                Permission is hereby granted, free of charge, to any person obtaining a copy of this
                                software and associated documentation files (the “Software”), to deal in the Software
                                without restriction, including without limitation the rights to use, copy, modify,
                                merge, publish, distribute, sublicense, and/or sell copies of the Software, and to
                                permit persons to whom the Software is furnished to do so, subject to the following
                                conditions:
                                <br><br>
                                The above copyright notice and this permission notice shall be included in all copies or
                                substantial portions of the Software.
                                <br><br>
                                THE SOFTWARE IS PROVIDED “AS IS”, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED,
                                INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR
                                PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE
                                LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT
                                OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
                                OTHER DEALINGS IN THE SOFTWARE.
                                <br><br>

                            </ul>
                        </li>
                        <li>
                            <p><strong>Loader by TemplateVentures</strong>:</p>
                            <ul>

                                <li>Atribución: <a href="https://uiverse.io/TemplateVentures/tasty-bulldog-34"
                                        target="_blank">enlace</a></li>
                                <li>Licencia: MIT</li><br>
                                Copyright - 2024 Cebucoder (CebuCoder)<br>
                                Copyright - 2024 TemplateVentures (Template Ventures)<br>
                                <br><br>
                                Permission is hereby granted, free of charge, to any person obtaining a copy of this
                                software and associated documentation files (the “Software”), to deal in the Software
                                without restriction, including without limitation the rights to use, copy, modify,
                                merge, publish, distribute, sublicense, and/or sell copies of the Software, and to
                                permit persons to whom the Software is furnished to do so, subject to the following
                                conditions:
                                <br><br>
                                The above copyright notice and this permission notice shall be included in all copies or
                                substantial portions of the Software.
                                <br><br>
                                THE SOFTWARE IS PROVIDED “AS IS”, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED,
                                INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR
                                PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE
                                LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT
                                OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
                                OTHER DEALINGS IN THE SOFTWARE.
                                <br><br>
                            </ul>
                        </li>
                        <li>
                            <p><strong>Button by gharsh11032000</strong>:</p>
                            <ul>

                                <li>Atribución: <a href="https://uiverse.io/gharsh11032000/average-falcon-37"
                                        target="_blank">enlace</a></li>
                                <li>Licencia: MIT</li><br>
                                Copyright - 2024 gharsh11032000 (Harsh Gupta)
                                <br><br>
                                Permission is hereby granted, free of charge, to any person obtaining a copy of this
                                software and associated documentation files (the “Software”), to deal in the Software
                                without restriction, including without limitation the rights to use, copy, modify,
                                merge, publish, distribute, sublicense, and/or sell copies of the Software, and to
                                permit persons to whom the Software is furnished to do so, subject to the following
                                conditions:
                                <br><br>
                                The above copyright notice and this permission notice shall be included in all copies or
                                substantial portions of the Software.
                                <br><br>
                                THE SOFTWARE IS PROVIDED “AS IS”, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED,
                                INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR
                                PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE
                                LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT
                                OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
                                OTHER DEALINGS IN THE SOFTWARE.
                                <br><br>

                            </ul>
                        </li>
                        <!-- Continuar con los demás componentes MIT -->
                    </ol>

                </div>
            </div>

        </div>
    </div>
</div>