<main>

    <div class="container-fluid mt-0" style="border: 2px solid rgb(1, 8, 1);">
        <div class="row">
            <div class="col-12 headerTextContainer">
                <div class="container headerTextContainer" style="padding: 0;">
                    <h2>Hola {{username}}, estas son tus últimas ofertas:
                    </h2>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-7 py-5 d-flex justify-content-center">
                <!--  container -->
                <div class="container">

                    @if (feedItems.length > 0) {
                    <div class="row  align-items-stretch">
                        @for (feedItem of feedItems; let even = $even; let odd = $odd; track feedItem) {
                        <div
                            class="col-6 col-lg-3 col-md-6 col-sm-6 d-flex justify-content-center align-items-center gy-3 test">
                            <div class="card h-100 border rounded align-items-stretch feedCard  bg-light"
                                style="object-fit: contain;">
                                <img class="card-img img-fluid w-100" src="{{feedItems[$index].imagen}}"
                                    alt="Card image cap" style="object-fit: contain;">
                                <div class="card-body cpad">
                                    <h5 class="card-title">{{feedItems[$index].nombre}}</h5>
                                    <p class="card-text">{{feedItems[$index].descripcion}}</p>
                                </div>
                                <div class="card-body d-flex align-items-end justify-content-center">
                                    <button class="btn btn-primary mx-1">Editar</button>
                                    <button class="btn btn-primary mx-1">Eliminar</button>
                                </div>
                            </div>
                        </div>
                        }

                        <div
                            class="col-6 col-lg-3 col-md-6 col-sm-12 d-flex justify-content-center align-items-center gy-3 test">
                            <div class="card h-100 border rounded align-items-stretch feedCard  bg-light"
                                style="object-fit: contain;">
                                <img class="card-img img-fluid w-100" src="{{logo}}" alt="Card image cap"
                                    style="object-fit: contain;">
                                <div class="card-body cpad">
                                    <h5 class="card-title">Agrega una nueva Oferta!</h5>
                                    <p class="card-text">Haz click sobre el botón para agregar una nueva oferta
                                        o selecciona alguna de las otras ofertas para eliminarla o modificarla</p>
                                </div>
                                <div class="card-body d-flex justify-content-center align-items-end">
                                    <button (click)="selectAction(1)" class="btn btn-primary mx-1">Agregar!</button>
                                </div>
                            </div>
                        </div>

                    </div>
                    <br>
                    <div class="pagination">
                        <button class="btn-31" (click)="previousPage()" [disabled]="currentPage === 1">
                            <span class="text-container">
                                <span class="text">Anterior</span>
                            </span>
                        </button>

                        <span>Página {{ currentPage }} de {{ totalPages }}</span>

                        <button class="btn-31" (click)="nextPage()" [disabled]="currentPage === totalPages">
                            <span class="text-container">
                                <span class="text">Siguiente</span>
                            </span>
                        </button>
                        <!-- <button (click)="test()">test</button> -->

                    </div>
                    } @else {
                    <p>No hay resultados</p>
                    }
                    <br>
                </div>
                <!-- container -->
            </div>

            <div class="col-12 col-md-5 py-5 formContainer">
                 @switch (actionSelected) {
                    @case (1) {
                        <div class="container">
                            <app-insert [id]="userId" [imagen]="logo"></app-insert>
                        </div>
                    }
                    @case (2) {
                    <div class="row justify-content-center py-5" style="background-color: darkgrey;">
                        <div class="card" style="width: 18rem;">
                            <img src="../../../assets/imgs/logo.png" class="card-img-top" alt="imagen de tu empresa">
                            <div class="card-body">
                                <h5 class="card-title">Bienvenido al panel de administración</h5>
                            </div>
                        </div>
                    </div>
                    }
                    @case (3) {
                    
                    }
                    @case (4) {
                   
                    }
                    @default {
                        

                        <div class="row justify-content-center py-5">
                            <div class="col-12">
                                <div class="card" style="width: 75%; margin: auto;" >
                                    <img src="../../../assets/imgs/empresas/{{logo}}" class="card-img-top" alt="imagen de tu empresa">
                                    <div class="card-body">
                                        <h5 class="card-title">Bienvenido al panel de administración.<br> Aquí aprecerán tus formularios una vez que hayas elegido una acción!</h5>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    }
                    }
            </div>

        </div>
    </div>


</main>