body {
    /*  por si aca que me estaba haciendo cosas raras */
    max-width: 100%;
    font-family: 'Quicksand', sans-serif;
}

main {
    max-width: 100%;
    /* background-color: #e6e6e6; */
    /* background-color: #8ae68a; */
    /* background-color: #b3e6cc; este quizá es too much pero estaba chulo */
    background-color: #f0f5f1;
}

.headerContainer {
    background-color: rgb(1, 8, 1);
}

body, html {
    overflow-x: hidden;
}